
<body class="md">
<h4>How Does it all work?</h4><br>
<nav class="middle-nav">
    <button id="n1">FOR PEOPLE WHO NEED HELP</button><br>
    <button id="n2" >FOR PEOPLE WHO PROVIDE HELP</button><br>
    <button id="n3" >FOR SHOP OWNERS</button>
</nav>
<div class="middle-content">
    <p >
        So you finally decided to buy that new phone and found it in website, at a great price. However, you are still not sure and want to find out if its performance will be the same, two years ahead in time? If you ask the customer support of that website, they will surely somehow convince you that what you wanna buy is the perfect product. Imagine if you can ask somebody that has already purchased this exact same product, without leaving the site?
    </p>
    <p >
        The first question we always get is, why would anybody want to spend time and help other people? Well first, you could think of SwiftViews as a helping platform, but also as a way to create a personal inventory and keep track of all your purchases by simply pasting the url of your product in a popup.
    </p>
    <p  >
        There are a lot of reasons for which a vendor would choose us instead of direct competitors who offer in-house customer support services. First: using SwiftViews will instantly build mutual trust between you and your users, because they will know that if you trust users to help other users, then, your customers can surely trust you!
    </p>
</div>

</body>
